<!-- Top Bar Start -->
<div class="top-bar d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="top-bar-left">
                    <div class="text">
                        <i class="far fa-clock"></i>
                        <h2>8:00 - 9:00</h2>
                        <p>Mon - Fri</p>
                    </div>
                    <div class="text" *ngIf="!userIsAuthenticated">
                        <i class="fa fa-phone-alt"></i>
                        <h2>+216 147 963</h2>
                        <p>For Appointment</p>
                    </div>
                    <div class="text" *ngIf="userIsAuthenticated">
                        <!-- <i class="fa fa-phone-alt"></i> -->
                        <h2>{{connecteduserName}}</h2>
                        <!-- <p>For Appointment</p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="top-bar-right">
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Confer</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a routerLink="" class="nav-item nav-link active">Home</a>
                <a routerLink="factures" class="nav-item nav-link" *ngIf="userIsAuthenticated">Facture</a>
                <a routerLink="devis" class="nav-item nav-link" *ngIf="userIsAuthenticated">Devis</a>
                <a routerLink="client-add-devis" class="nav-item nav-link"
                    *ngIf="clientIsAuthenticated">Ajouter-devis</a>
                <a routerLink="devis-client" class="nav-item nav-link" *ngIf="clientIsAuthenticated">devis</a>

                <a routerLink="product" class="nav-item nav-link" *ngIf="userIsAuthenticated">produit</a>
                <a routerLink="employes" class="nav-item nav-link" *ngIf="userIsAuthenticated">employer</a>
                <a routerLink="conge" class="nav-item nav-link" *ngIf="userIsAuthenticated">Congé</a>

                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        *ngIf="userIsAuthenticated">Ajouter</a>
                    <div class="dropdown-menu">
                        <a routerLink="add-facture" class="dropdown-item">Ajouter-Facture</a>
                        <a routerLink="add-devis" class="dropdown-item">Ajouter-Devis</a>

                        <a routerLink="add-product" class="dropdown-item">Ajouter-produit</a>
                        <a routerLink="add-employes" class="dropdown-item">Ajouter-employer</a>
                    </div>
                </div>

                <a routerLink="login" class="nav-item nav-link"
                    *ngIf="!userIsAuthenticated && !clientIsAuthenticated   ">se connecter</a>
                <a routerLink="" class="nav-item nav-link" *ngIf="userIsAuthenticated  || clientIsAuthenticated"
                    (click)="logout()">deconnecter
                </a>
                <a routerLink="sign-up" class="nav-item nav-link"
                    *ngIf="!userIsAuthenticated && !clientIsAuthenticated   ">s'inscrire
                </a>
                <a routerLink="admin/sign-up" class="nav-item nav-link"
                    *ngIf="!userIsAuthenticated && !clientIsAuthenticated   ">s'inscrire <span style="color:blue ;">Admin</span> 
                </a>
                <a routerLink="sign-up" class="nav-item nav-link"
                    *ngIf="!userIsAuthenticated && !clientIsAuthenticated   ">s'inscrire <span style="color:blue ;">Gestionnaire</span> 
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->