<div class="banner"></div>
<div class="contact" id="registration">
    <div class="container">
        <div class="section-header">

            <h2> Facture</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">

                        <h3 class="pull-right">Facture Order # {{facture?.reference}}</h3>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-xs-6">

                            <address class="border">
                                <strong>Order Date:</strong><br>
                                {{facture?.date}}<br><br>

                                <strong>Billed To:</strong><br>
                                {{user?.firstName}}<br>
                                {{user?.lastName}}<br>
                                {{user?.email}}<br>
                                Springfield, ST 54321 <br>
                                <hr>
                                <strong>Shipped To:</strong><br>
                                {{facture?.clientName}}<br>
                                {{facture?.clientEmail}}<br>
                                {{facture?.clientPays}}<br>
                                {{facture?.clientAdress}}
                            </address>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>description Produit</strong></td>

                                            <td class="text-center"><strong>Quantity</strong></td>
                                            <td class="text-center"><strong>Price HT</strong></td>

                                            <td class="text-right"><strong>Totals HT</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                        <tr>
                                            <td>{{facture?.descriptionProduit}}</td>
                                            <td class="text-center">{{facture?.qtyProduit}}</td>

                                            <td class="text-right">${{facture?.prixHtProduit}}</td>
                                            <td class="text-right">${{facture?.prixHtProduit*facture?.qtyProduit}}</td>
                                        </tr>

                                        <tr>
                                            <td class="thick-line"></td>
                                            <td class="thick-line"></td>
                                            <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                            <td class="thick-line text-right"></td>
                                            <td class="thick-line text-right">$
                                                {{facture?.prixHtProduit*facture?.qtyProduit}}</td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center"><strong>TVA %</strong></td>
                                            <td class="no-line text-right">{{facture?.tvaProduit}}%</td>
                                            <td class="no-line text-right">
                                                {{(facture?.tvaProduit/100)*facture?.prixHtProduit*facture?.qtyProduit}}$
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="no-line"></td>
                                            <td class="no-line"></td>
                                            <td class="no-line text-center"><strong>Total</strong></td>
                                            <td class="no-line text-right"></td>
                                            <td class="no-line text-right">
                                                {{((facture?.tvaProduit/100)*facture?.prixHtProduit*facture?.qtyProduit)+(facture?.prixHtProduit*facture?.qtyProduit)}}$
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<div>
    <hr>
    <button class="btn btn-success telecharger" (click)="printPage()">telecharger</button><br><br><br>
    <hr>
</div>