<div class="banner"></div>
<div class="contact">
    <div class="container">
        <div class="section-header">

            <h2>Mes Devis</h2>
        </div>
        <div class="row align-items-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">reference</th>
                        <th scope="col">date</th>
                        <th scope="col">produit</th>
                        <th scope="col">clientName</th>
                        <th scope="col">clientEmail</th>
                        <th scope="col">clientTel</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let n of devisClient'>
                        <th scope="row">{{n.reference}}</th>
                        <td>{{n.date}}</td>
                        <td>{{n.descriptionProduit}}</td>
                        <td>{{n.clientFirstName}} {{n.clientLastName}}</td>
                        <td>{{n.clientAdress}}</td>
                        <td>{{n.clientTel}}</td>
                        <td></td>
                        <td>

                            <button class="btn btn-danger" (click)='deleteDevis(n._id)'>supprimer</button>
                            <button class="btn btn-success" (click)='displayDevis(n._id)'>voir devis</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>





    </div>
</div>